harem.dtd


<!ELEMENT EM (#PCDATA) >
<!ATTLIST EM
	  ID      CDATA #REQUIRED 
	  CATEG   CDATA #IMPLIED
	  TIPO    CDATA #IMPLIED
	  COMENT  CDATA #IMPLIED
	  SUBTIPO CDATA #IMPLIED >

<!ELEMENT ALT (#PCDATA|EM|OMITIDO|bar)* >

<!ELEMENT bar EMPTY >

<!ELEMENT OMITIDO (#PCDATA|EM|ALT|p)* >

<!ELEMENT colHAREM (DOC)* >
<!ATTLIST colHAREM
	  versao CDATA #REQUIRED >

<!ELEMENT p (#PCDATA|EM|OMITIDO|ALT)* >

<!ELEMENT DOC (p|OMITIDO)* >
<!ATTLIST DOC
	  DOCID CDATA #REQUIRED >

